#page-auth{
  display: flex;
  align-items: stretch;
  height: 100vh;


aside{
  flex: 7;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 80px;
  text-align: center;

  &.dark{
    background-image: none;
  }

  &.light{
    background-image: radial-gradient(#2589bd, #000022);

  }


  img{
    max-width: 320px;
    width: 80%;
    color: #ffd000;
    margin: 0px auto;
  }

  strong{
    font: 700 36px 'Poppins', sans-serif;
    line-height:42px;
    margin-top: 16px;

  }

  p {
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
    color: #f8f8f8;

  }
  }

main{
  flex: 8;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.main-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;

  > img {
    align-self: center;
  }

  h2{
    font-size: 24px;
    margin: 50px 0 24px;
    font-family: 'Poppins', sans-serif;
    color: rgb(197, 193, 193);
    text-shadow:1px 1px 1px #000080;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .room-settings{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      width: 100%;

      span{
        font-size: 14px;
        color: rgb(197, 193, 193);
        text-shadow:1px 1px 1px #000080;
        
      }
      .triangle{
        content: '';
        display: inline-block;
        width:0;
        height:0;

        &.right{
          margin-right: 8px;
            margin-left: 5px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #4C4B63;
          }

        &.bottom{
          margin-right: 8px;
            margin-left: 5px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #4C4B63;
          }
        
      }

      #settings{
        flex-direction: column;
        gap: 10px;
        width: 100%;

      }

    }

    input, textarea {
      height: 50px;
      border-radius: 8px;
      padding: 0 16px;
      background-color: #FFF;
      border: 1px solid #a8a8b3;
      color:#000080;

      &.dark{
        color:'black';
      }
    }

    textarea{
      resize:vertical;
      min-height: 50px;
      padding-top: 10px;
    }

    button, input {
      width: 100%;
    }
  }

  p{
    font-size: 14px;
    color: #737380;
    margin-top: 16px;

    a{
      color: #000080
    }
  }
  }
  .create-room{
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #ea4335;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.2s;
    cursor: pointer;
    border: 0px;

    img{
     margin-right: 8px;
    }

    &:hover{
      filter: brightness(0.9);
    }

  }
  .separator{
    font-size: 14px;
    color: #a8a8b3;
    margin: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0px;

    &::before{
      content: '';
      flex: 1;
      height: 1px;
      background-color: #a8a8b3;
      margin-right: 16px;

    }

    &::after{
      content: '';
      flex: 1;
      height: 1px;
      background-color: #a8a8b3;
      margin-left: 16px;
    }

  }


    h1, strong{
      color: #ffd900 !important;
    }



  @media only screen and (max-width:800px){
      aside{
        strong{
          font: 700 30px 'Poppins', sans-serif;
          line-height:42px;
        }
        p{
          font-size:20px;
        }
      }
     textarea, input{
          height: 40px;
          font-weight: 400;
          padding: 0 15px;

          &.light{
            color: '#fff';
          }

          &.dark{
            color: 'black';
          }

  }

   .create-room{
    height: 40px;

  }

  }

    @media only screen and (max-width:600px){
      flex-direction: column;
      justify-content: center;

      aside{
        display: none;
        strong{
          font: 700 28px 'Poppins', sans-serif;
          line-height:42px;
        }
        p{
          font-size:18px;
        }
      }

      main{
        flex: 1;
      }

     textarea, input{
          height: 40px;
          font-weight: 400;
          padding: 0 15px;

          &.light{
            color: '#fff';
          }

          &.dark{
            color: 'black';
          }

  }
}
&.dark {
  background-color: #070707;
  input, textarea{
    color:'black';}
}
}
