*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00002210;
  color: #29292e;
  height: 100vh !important;
}

body, input, textarea, button {
  font: 400 16px 'Roboto', 'sans-serif';
}